@import url('../vendor/normalize.css');
@import url('../vendor/reset.css');
@import url('../vendor/inter-font.css');

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.root {
    font-family: 'Inter', sans-serif, 'Helvetica';
    background-color: white;
    color: black;
    max-width: 1240px;
    margin: 0 auto;
    padding: 200px;
    max-height: 1280px;
    background: linear-gradient(90deg, 
    #833ab4, #fd1d1d, #fcb045
    );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.content {
    display: flex;
    font-family: sans-serif;
    width: 930px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 10px;
}

.keyboard-container {
    width: 930px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
}

.row {
    font-family: 'Inter', sans-serif, 'Helvetica';
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.key {
    background: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    border-radius: 10px;
    transition: all .2s;
    cursor: default;
}

.space {
    width: 420px;
}

.shiftbtn {
    width: 150px;
}

.capslockbtn {
    width: 110px;
}

.tabbtn {
    width: 100px;
}

.enterbtn {
    width: 120px;
}

.backspacebtn {
    width: 130px;
}

.backanotherbtn {
    width: 80px;
}

.controlbtn {
    width: 60px;
}

.metabtn {
    width: 60px;
}

.altbtn {
    width: 60px;
}

.contextmenubtn {
    width: 60px;
}

.key_type_active {
    color: red;
    box-sizing: border-box;
    transform: scale(0.95);
    border-radius: 10px;
}