@import url('../vendor/normalize.css');
@import url('../vendor/reset.css');
@import url('../vendor/inter-font.css');

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes suggest {
    0% {
        transform: translate(0px, 0%);
        background-position: 0 50%;
    }
    6% {
        transform: translate(0px, -7%)
    }
    12% {
        transform: translate(0px, 0%)
    }
    18% {
        transform: translate(0px, -7%)
    }
    24% {
        transform: translate(0px, 0%)
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


@keyframes color {
    0% {
        color: #DF46E7;
        box-shadow: 0px 0px 3px 2px rgba(223, 70, 231, 0.34);
        text-shadow: 0px 0px 4px rgba(223, 70, 231, 0.5);
    }
    5% {
        color: #C042D6;
        box-shadow: 0px 0px 3px 2px rgba(192, 66, 214, 0.34);
        text-shadow: 0px 0px 4px rgba(192, 66, 214, 0.5);
    }
    10% {
        color: #833ab4;
        box-shadow: 0px 0px 3px 2px rgba(131, 58, 180, 0.34);
        text-shadow: 0px 0px 4px rgba(131, 58, 180, 0.5);
    }
    20% {
        color: #4AE2FDFF;
        box-shadow: 0px 0px 3px 2px rgba(74, 226, 253, 0.34);
        text-shadow: 0px 0px 4px rgba(74, 226, 253, 0.5);
    }
    35% {
        color: #45FD3CB8;
        box-shadow: 0px 0px 3px 2px rgba(55, 253, 64, 0.34);
        text-shadow: 0px 0px 4px rgba(55, 253, 64, 0.5);
    }
    45% {
        color: #FDF228FF;
        box-shadow: 0px 0px 3px 1px rgba(253, 242, 40, 0.34);
        text-shadow: 0px 0px 1px rgba(253, 242, 40, 0.5);
    }
    60% {
        color: #FD9F3CFF;
        box-shadow: 0px 0px 3px 2px rgba(253, 159, 60, 0.34);
        text-shadow: 0px 0px 4px rgba(253, 159, 60, 0.5);
    }
    80% {
        color: #fd1d1d;
        box-shadow: 0px 0px 3px 2px rgba(253, 29, 29, 0.34);
        text-shadow: 0px 0px 4px rgba(253, 29, 29, 0.5);
    }
    95% {
        color: #FD4AF7FF;
        box-shadow: 0px 0px 3px 2px rgba(253, 74, 247, 0.34);
        text-shadow: 0px 0px 4px rgba(253, 74, 247, 0.5);
    }
    100% {
        color: #DF46E7;
        box-shadow: 0px 0px 3px 2px rgba(223, 70, 231, 0.34);
        text-shadow: 0px 0px 4px rgba(223, 70, 231, 0.5);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaling-reverse {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes active-key-suggest {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes suggest-arrow {
    0% {
        transform: translate(0px, 0%);
    }
    8% {
        transform: translate(0px, 10%)
    }
    16% {
        transform: translate(0px, 0%)
    }
    24% {
        transform: translate(0px, 10%)
    }
    32% {
        transform: translate(0px, 0%)
    }
}

.root {
    font-family: 'Inter', sans-serif, 'Helvetica';
    color: black;
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 930px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.game {
    background: white;
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    padding: 25px;
    font-family: 'Inter';
    font-size: 20px;
    position: relative;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.34);
    box-sizing: border-box;
    border: 3px solid black;
    animation: scaling-reverse 0.5s ease;
}

.game__text {
    color: black;
    width: 950px;
    height: 450px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    resize: none;
    line-height: 35px;
    font-size: 20px;
    overflow: hidden;
    border: none;
    outline: none;
}

.game__placeholder {
    opacity: 0.4;
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    cursor: default;
    z-index: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 10px;
}

.keyboard-container {
    width: 930px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.34);
}

.row {
    font-family: 'Inter', sans-serif, 'Helvetica';
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.key {
    background: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
    border-radius: 10px;
    transition: all .2s;
    cursor: default;
    animation: color 10s linear infinite;
}

.key_type_no-backlight {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    color: black;
}

.key_type_no-backlight-dark {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    color: white;
}

.space {
    width: 420px;
}

.shiftbtn {
    width: 150px;
}

.capslockbtn {
    width: 110px;
}

.tabbtn {
    width: 100px;
}

.enterbtn {
    width: 120px;
}

.backspacebtn {
    width: 130px;
}

.backanotherbtn {
    width: 80px;
}

.controlbtn {
    width: 60px;
}

.metabtn {
    width: 60px;
}

.altbtn {
    width: 60px;
}

.contextmenubtn {
    width: 60px;
}

.key_type_active {
    box-sizing: border-box;
    transform: scale(0.94);
    border-radius: 10px;
}

.modal-buttons {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: black;
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    font-family: 'Inter';
    height: 50px;
    width: 200px;
    background: inherit;
    border-radius: 15px;
    padding: 0 15px;
    transition: all .4s;
    border: 3px solid black;
    box-sizing: border-box;
}

.game__text_type_correct {
    opacity: 1;
    color: #45FD3CB8;
    text-shadow: 0px 0px 4px rgba(55, 253, 64, 0.5);
}

.game__text_type_incorrect {
    opacity: 1;
    color: #fd1d1d;
    text-shadow: 0px 0px 4px rgba(253, 29, 29, 0.5);
}

.start-game-button {
    width: 500px;
    height: 200px;
    background: white;
    font-family: 'Inter';
    border-radius: 50px;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 50px;
    background: linear-gradient(90deg, 
    #833ab4, #fd1d1d, #fcb045
    );
    background-size: 400% 400%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    animation: suggest 3s ease infinite;
    animation-delay: 2s;
}

.button-container {
    width: 1000px;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.keyboard__suggest {
    position: absolute;
    left: 100px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scaling-reverse 0.5s ease;
}

.suggest-key {
    background: black;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
    border-radius: 10px;
    transition: all .2s;
    cursor: default;
    animation: color 10s linear infinite;
}

.w-container {
    width: 170px;
    display: flex;
    justify-content: center;
    grid-area: w;
    animation: active-key-suggest 1.5s ease infinite;
}

.abtn-suggest {
    grid-area: a;
}

.sbtn-suggest {
    grid-area: s;
}

.dbtn-suggest {
    grid-area: d;
}

.keyboard__suggest-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                        'w w w'
                        'a s d';
}

.keyboard__suggest-image {
    height: 100px;
    width: 60px;
    animation: suggest-arrow 3s ease infinite;
}

.keyboard__suggest-text {
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
}